
p{
	color: rgba(25, 0, 90, 1);
}

body{
	background-color: rgba(0,0,0, .25);
}

img{
	margin: auto;
	display: block;
}

h2{
	text-align: center;
}

h1{
	text-align: center;
}

img [name="Logo"]{
	width:	"50%"; 
	height:	"auto";
}

.picture{
	float: left;
	width: "50%";
	margin-right: 5px;
}
/*body{
	background: url(https://media.discordapp.net/attachments/223975026548801537/357279023128117252/fondo.jpeg?width=400&height=149); 
}*/