
p{
	color: rgba(25, 0, 90, 1);
}

body{
	background-color: rgba(0,0,0, .3);
}

img{
	margin: auto;
	display: block;
}

h2{
	text-align: center;
}

/*body{
	background: url(https://media.discordapp.net/attachments/223975026548801537/357279023128117252/fondo.jpeg?width=400&height=149); 
}*/